extends layout

block content
  h1= title
  p Welcome to #{title}
  p
    a(href="./" class="btn btn-primary") Home
    a(href="./form" class="btn btn-primary") Form
    a(href="./" class="btn btn-primary") About

       
    