extends layout

block content
 h1=title
 p
    a(href="./" class="btn btn-primary") Home
    a(href="./form" class="btn btn-primary") Form
    a(href="./about" class="btn btn-primary") About
 h2=message
 form.form-horizontal(action="/form", method="post", role="form")
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="name") Name:
          .col-xs-12.col-sm-10
            input#name.form-control(name="name" required)
            br
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="email") Email:
          .col-xs-12.col-sm-10
            input#name.form-control(name="email" required)
            br 
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="comment") Comments:
          .col-xs-12.col-sm-10
            input#name.form-control(name="comment" required)
            br 
            input(class="btn btn-primary" type="submit" value="Add my review") 
