doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title   
    link(rel='stylesheet', href='/css/bs/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bs/css/bootstrap-responsive.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/css/bs/js/bootstrap.min.js')
    script(src='/css/jb/css/navbar.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    .container
      block content