extends layout

block content
    h1=title
    p
    p=removed
    table(class="table table-hover")
        thead   
            tr
                th First Name
                th Last Name
                th Department
                th Start Date
                th Job Title
                th Salary
                th createdOn
                th Update/Delete
        tbody
        - each stuff in results
            tr
                td 
                    = stuff.fName
                td 
                    = stuff.lName
                td 
                    = stuff.department
                td
                    +formatDate(stuff.date)
                td
                    = stuff.job
                td
                    = stuff.salary
                td 
                    +formatDate(stuff.createdOn) 
                td
                    a(class="btn btn-primary" href="../update/#{stuff._id}") Update
                td
                    a(class="btn btn-danger" href="../view/#{stuff._id}") Delete

mixin formatDate(dateString)
  -var date = new Date(dateString);
  -var d = date.getDate();
  -var monthNames = [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" ];
  -var m = monthNames[date.getMonth()];
  -var y = date.getFullYear();
  -var output = m + ' ' + d + ' ' + y;
  =output